h1 {
  text-align: center;
}

#container {
  padding-bottom: 10px;
  position: absolute;
  left: calc(50% - 300px);
  width: 600px;
}

#small-container {
  padding-bottom: 10px;
  position: absolute;
  left: calc(50% - 270px);
  width: 540px;
}

textarea {
  resize: none;
}
